# EditorConfig для фронтенд проекта (Vue/React/TS/JS/CSS/SCSS/Markdown)
# Подробнее: https://editorconfig.org
root = true

##########################################################
# Общие правила для всех файлов
##########################################################
[*]
charset = utf-8              # Кодировка UTF-8
end_of_line = lf             # Unix-style line endings
insert_final_newline = true  # Всегда добавлять новую строку в конце файла
trim_trailing_whitespace = true # Удалять пробелы в конце строк

##########################################################
# JS/TS/JSX/TSX/Vue
##########################################################
[*.{js,ts,jsx,tsx,vue}]
indent_style = space
indent_size = 2

##########################################################
# JSON, YAML, Markdown
##########################################################
[*.{json,yml,yaml,md}]
indent_style = space
indent_size = 2

##########################################################
# CSS, SCSS, Less
##########################################################
[*.{css,scss,less}]
indent_style = space
indent_size = 2

##########################################################
# Makefile
##########################################################
[Makefile]
indent_style = tab

##########################################################
# Специфичные файлы конфигураций
##########################################################
[{package.json,.travis.yml,.eslintrc.json,.prettierrc,.stylelintrc}]
indent_style = space
indent_size = 2
